<html lang="en">
<%- include('partials/head.ejs') %>
    <body class="font-inter">
        <%- include('partials/leftNavigation.ejs') %>
            <main id="main-content"
                class="relative left-60 w-[calc(100%-15rem)] bg-mainBg h-screen 
                    p-6 break-words phone:left-0 phone:w-full overflow-y-scroll overflow-x-hidden custom-scrollbar">
                <div id="content-wrapper">
                    <div class="flex justify-center">
                        <%- include('partials/message-errors.ejs') %>
                    </div>
                    <div id="first-wrapper relative">
                        <div class="flex justify-end">
                            <img class="w-20" src="/images/dh_logo.png" alt="">
                        </div>
                        <div class="flex flex-row mt-4 w-full mx-auto">
                            <div class="flex flex-row justify-center text-center w-3/12 ml-5">
                                <div class="w-full">
                                    <p class="text-[2.00rem] font-semibold">All projects</p>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row p-5 mt-3 w-full mx-auto">
                            <div class="flex flex-row justify-center w-3/12 ml-5">
                                <button type="button" class="w-[8.5rem] h-[2.6rem] bg-accent-1 
                                                                    text-white rounded-[3px] text-sm hover:bg-white hover:text-red-500 duration-300">
                                    <a href="/project/">Create Project</a>
                                </button>
                            </div>
                            <div class="flex flex-row mx-auto w-10/12 space-x-10 justify-center">
                                <div class="w-5/12">
                                    <form id="form-search-projects">
                                        <label for="project-search"></label>
                                        <div class="relative">
                                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search w-5 h-5"
                                                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                    stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                                                    <path d="M21 21l-6 -6"></path>
                                            </div>
                                            <input type="search" id="project-search"
                                                class="block pl-10 p-2 w-full bg-zinc-50 focus:outline focus:outline-slate-600 focus:duration-200 focus:outline-2 shadow-md rounded-lg"
                                                placeholder="Search Project" name="project-search">
                                        </div>
                                    </form>
                                </div>
                                <div class="w-5/12">
                                    <form id="form-search-team-member">
                                        <label for="teamMember-search"></label>
                                        <div class="relative">
                                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search w-5 h-5"
                                                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                    stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                                                    <path d="M21 21l-6 -6"></path>
                                            </div>
                                            <input type="search" id="teamMember-search"
                                                class="block pl-10 p-2 w-full bg-zinc-50 focus:outline focus:outline-slate-600 focus:duration-200 focus:outline-2 shadow-md rounded-lg"
                                                placeholder="Search Team Member" name="team-member-search">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="containerList relative">
                        <% if (projects.length > 0) { %>
                            <div class="flex flex-wrap w-full appearance-none items-center select-none mb-5 mt-20" id="project-list">
                                <div class="w-3/12 h-[3rem] content-center">
                                    <div class="flex flex-row justify-center w-full mx-auto items-center text-center pl-12">
                                        <p class="text-center font-medium text-[1.250rem]">
                                            Project Title
                                        </p>
                                    </div>
                                </div>
                                <div class="w-3/12 h-[3rem]">
                                    <div class="flex flex-row justify-center w-full mx-auto items-center">
                                        <div class="">
                                            <p class="justify-self-center text-center break-words font-medium text-[1.250rem]">
                                                Team Members
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-3/12 h-[3rem] items-center text-center">
                                    <div class="flex flex-row justify-center w-full mx-auto items-center content-center justify-self-center">
                                        <div class="text-center">
                                            <p class="justify-self-center text-center break-words font-medium text-[1.250rem]">
                                                Add member
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-3/12 h-[3rem] items-center text-center">
                                    <div class="flex flex-row justify-center w-full mx-auto items-center content-center justify-self-center">
                                        <div class="text-center">
                                            <p class="justify-self-center text-center break-words font-medium text-[1.250rem]">
                                                Delete Project
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% projects.forEach((project, index) => { %>
                                <%- include('partials/cancel-popup.ejs', {project: project.project_name, popupId : index}); %>
                                <div class="flex flex-wrap w-full appearance-none items-center select-none">
                                    <div class="w-3/12 h-[3rem] content-center justify-center">
                                        <div class="flex flex-row justify-center w-full mx-auto items-center text-center pl-12">
                                            <p id="project_name" class="text-center select-text">
                                                <%= project.project_name; %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="w-3/12 h-[3rem]">
                                        <div class="flex flex-row justify-center w-full mx-auto items-center">
                                            <div class=" w-3/12 bg-members rounded-lg break-words text-teal-800 p-[0.180rem] text-[0.9rem]">
                                                <p class="justify-self-center text-center break-words select-text">
                                                    <%= project.count_team_members; %> members
                                                </p>
                                            </div>
                                            <div class="break-words hover:bg-members rounded-lg p-[0.20rem] hover:cursor-pointer text-teal-800 duration-200">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-edit" width="24" height="24"
                                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                                <path d="M6 21v-2a4 4 0 0 1 4 -4h3.5"></path>
                                                <path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-3/12 h-[3rem] content-center text-center mx-auto items-center justify-center">
                                    <div class="flex flex-row content-center mx-auto items-center w-full justify-center">
                                        <div class= "break-words hover:bg-members rounded-lg p-[0.20rem] hover:cursor-pointer text-teal-800 duration-200">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus justify-self-center" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                            <path d="M16 19h6"></path>
                                            <path d="M19 16v6"></path>
                                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-3/12 h-[3rem] content-center text-center mx-auto items-center justify-center">
                                    <div class="flex flex-row content-center mx-auto items-center w-full justify-center">
                                        <div class= "break-words hover:bg-red-500 rounded-lg p-[0.20rem] hover:cursor-pointer  text-zinc-900 duration-200">
                                            <button onclick="openPopup('<%=index%>')">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash"
                                                viewBox="0 0 16 16">
                                                <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full h-1 bg-slate-50 mt-[2.325rem] mb-[2.325rem]">
                                
                            </div>
                            <%}) %>
                    </div>
                        <% } else{ %>
                            <div class="flex justify-around p-5 mt-4">
                                NO HAY PROJECTOS
                            </div>
                        <% }%>
                </main>
                        <script defer src="/scripts/projectSearchBar.js"></script>
                        <script defer src="/scripts/popUp.js"></script>
        </body>
</html>
